In [1]:
from pandas_datareader import data as pdr

import fix_yahoo_finance as yf

In [10]:
# used as a stand-alone library 
data1 = yf.download("XLE", start="2018-01-01", end="2018-04-30")
data1.head()

[*********************100%***********************]  1 of 1 downloaded

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-02  72.620003  73.529999  72.389999  73.449997  72.930740  14891400
2018-01-03  73.599998  74.739998  73.519997  74.550003  74.022972  19299600
2018-01-04  74.500000  75.050003  74.230003  75.000000  74.469788  14306800
2018-01-05  74.900002  75.029999  74.349998  74.970001  74.440002  14204400
2018-01-08  74.940002  75.459999  74.739998  75.419998  74.886818   9779200

In [3]:
yf.pdr_override() # <== that's all it takes

In [4]:
# download dataframe
data2 = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 downloaded

In [5]:
# download Panel
data3 = pdr.get_data_yahoo(['SPY', 'IWM'], start='2017-01-01', end='2017-04-30')

[*********************100%***********************]  2 of 2 downloaded

In [14]:
data4 =     pdr.get_data_yahoo(
            # tickers list (single tickers accepts a string as well)
            tickers = ["SPY", 'XLE', 'XLB'],

            # start date (YYYY-MM-DD / datetime.datetime object)
            # (optional, defaults is 1950-01-01)
            start = "2017-01-01",

            # end date (YYYY-MM-DD / datetime.datetime object)
            # (optional, defaults is Today)
            end = "2017-04-30",

            # return a multi-index dataframe
            # (optional, default is Panel, which is deprecated)
            as_panel = False,

            # group by ticker (to access via data['SPY'])
            # (optional, default is 'column')
            group_by = 'ticker',

            # adjust all OHLC automatically
            # (optional, default is False)
            auto_adjust = True,

            # download dividend + stock splits data
            # (optional, default is None)
            # options are:
            #   - True (returns history + actions)
            #   - 'only' (actions only)
            actions = True,

            # How may threads to use?
            threads = 1
        )

[*********************100%***********************]  3 of 3 downloaded